

@media (-webkit-device-pixel-ratio: 3) {
  .cube-side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
  }
}

@media (orientation: portrait) {
  @media (-webkit-device-pixel-ratio: 3) {
    .cube-side {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        height: fit-content;
    }
  }
}
