
@import url('../node_modules/augmented-ui/augmented-ui.min.css');

*::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'Molot';
  src: local('Molot'), url('./fonts/Molot.otf') format('opentype');
}

@font-face {
  font-family: 'DroidSansMono';
  src: local('DroidSansMono'), url('./fonts/DroidSansMono.ttf') format('truetype');
}

body {
  font-family: 'DroidSansMono', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Molot', sans-serif;
  letter-spacing: 0.8px;
}

* {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif, system-ui, Helvetica, Arial;
  color: white;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

